@model testing.Models.Class1
@{
    ViewBag.Title = "Edit";
}

<h2>Edit修改</h2>
<form method="post">
    <input type="hidden" name="cId" value="@Model.cId" />
    <p>
        姓名<br />
        <input type="text" name="c_name" value="@Model.c_name" />
    </p>
    <p>
        電話<br />
        <input type="text" name="c_address" value="@Model.c_address" />
    </p>
    <p>
        電子郵件<br />
        <input type="text" name="c_account" value="@Model.c_account" />
    </p>
    <p>
        地址<br />
        <input type="text" name="c_password" value="@Model.c_password" />
    </p>
    <p>
        密碼<br />
        <input type="text" name="c_phone" value="@Model.c_phone" />
    </p>
    <p>
        密碼<br />
        <input type="text" name="c_email" value="@Model.c_email" />
    </p>
    <p>
        密碼<br />
        <input type="text" name="c_pname" value="@Model.c_pname" />
    </p>


    <p><input type="submit" value="修改" /></p>
</form>

